:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --grey-darker: #212529;
}

body{
    background-color: whitesmoke;
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

/* Inputs start  -------------------------------------------------------------------------------*/
input{
    height: 5vmin;
    width: 30vmin;
    font-size: 16px;
    display: block;
    border-radius: 0.25rem;
    border-color: whitesmoke;
    margin: 1vmin;
    padding: 0.5vmin;
}
input:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
/* Inputs end  -------------------------------------------------------------------------------*/

/* Buttons start  -------------------------------------------------------------------------------*/
.btn{
    display: block;
    height: 5vmin;
    width: 10vmin;
    font-size: medium;
    border-radius: 0.40rem;
    border-color: whitesmoke;
    color: white;
}
.btn-big{
    display: block;
    height: 6vmin;
    width: 31vmin;
    font-size: large;
    border-radius: 0.40rem;
    border-color: whitesmoke;
    color: white;
}
.btn:hover, .btn-big:hover{
    filter: brightness(85%);
    transition: 0.1s;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary{
    background-color: var(--gray);
    border-color: var(--gray);
}
.btn-danger{
    background-color: var(--red);
    border-color: var(--red);
}
.btn-yellow{
    background-color: var(--yellow);
    border-color: var(--yellow);
}
.btn-success{
    background-color: var(--success);
    border-color: var(--success);
}

/* Buttons end  -------------------------------------------------------------------------------*/


/* Texts start  -------------------------------------------------------------------------------*/
.text-align-center{
    text-align: center;
}

.text-danger{
    color: var(--danger);
}

/* Texts end  -------------------------------------------------------------------------------*/

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Sidebar start  -------------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    text-decoration: none;
}

.sidebar{
    float: left;
    width: 22%;
    height: 100%;
    background: var(--grey-darker);
}

.sidebar header{
    font-size: 5vmin;
    color: white;
    text-align: center;
    line-height: 10vmin;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 8vmin;
    font-size: 2.7vmin;
    color: white;
    padding-left: 4vmin;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 6vmin;
}

.sidebar ul a i{
    margin-right: 4vmin;
}

/* Sidebar end   -------------------------------------------------------------------------------*/

section{
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Table start  -------------------------------------------------------------------------------*/

table{
    width: 75%;
    transform: translate(2%, 15%);
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /* text-align: center; */
}

th, td, caption{
    padding: 1.7vmin;
}

tr:nth-child(even), caption{
    background-color: var(--gray);
    color: antiquewhite;
}

tr:nth-child(odd){
    background-color: var(--dark);
    color: antiquewhite;
}

/* Table end  -------------------------------------------------------------------------------*/

/* footer{
    position: fixed;
    left: 42vmin;
    bottom: 0;
    height: 3vmax;
    width: 100%;
    background-color: var(--grey-darker);
    color: blue;
    text-align: center;
}  */